<header>
  <h1>参考書がみつかる</h1>

  <div class="header-infomation">
    <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/user/create'">新規登録</button>
    <% if @current_user %>
        <%= link_to("/logout", {method: "post"}) do %>
          <button type="button" class="btn btn-primary btn-lg">ログアウト</button>
        <% end %>
    <% else %>
      <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/user/login'">ログイン</button>
    <% end %>
    <button type="button" class="btn btn-warning btn-lg" onclick="location.href='/about'">このサイトについて</button>
    <button type="button" class="btn btn-success btn-lg" onclick="location.href='/post/create'">本を出品</button>
  </div>
  <div class="search-form">
    <input type="search" name="search" class="search-var">
    <input type="submit" name="search" value="検索">
  </div>
  <div class="pulldown-menu">
    <select name="school-year">
      <option value="1">高校1年生</option>
      <option value="2">高校2年生</option>
      <option value="3">高校3年生(文系)</option>
      <option value="4">高校3年生(理系)</option>
    </select>
  </div>
</header>
<h2>出品画像 説明が下に続いてる</h2>
<% @posts.each do |post| %>
  <div class="posts-all">
    <%  @user=User.find_by(id: post.user_id) %>
    <%= @user.name %>
    <%= link_to post.content , "/post/#{post.id}" %>
  </div>
<% end %>

</div>
