<%= form_tag("/create_post") do %>
<div class="form">
  <% if @post %>
    <% @post.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <textarea name="content" rows="8" cols="80" placeholder="200文字まで入力可能です"></textarea>
  <input type="submit" value="投稿">
</div>
<% end %>
