<%= form_tag("/login_user") do %>
<div class="form">
  <% if @user %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <p>ユーザー名</p>
  <input name="name">
  <p>メールアドレス</p>
  <input name="mail_address">
  <p>パスワード</p>
  <input type="password" name="password">
  <p>
  <input type="checkbox" name=remember_me value="1" >ログイン情報をブラウザに記録させますか？（記録するとログアウトしない限りログイン情報の入力が不要になります)
  </p>
  <input type="submit" value="ログイン">
</div>
<% end %>
