<%= form_tag("/login_user") do %>
<div class="form">
  <% if @user %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <p>ユーザー名</p>
  <input name="name">
  <p>メールアドレス</p>
  <input name="mail_address">
  <p>パスワード</p>
  <input type="password" name="password">
  <input type="submit" value="ログイン">
</div>
<% end %>
