<h1>ユーザー詳細ページ</h1>
<% if @user %>
<%= @user.name   %>
<%= @user.mail_address %>
<% end %>
<% if @current_user && @current_user.id==params[:id].to_i%>
<%= link_to("編集","/user/update/#{@current_user.id}") %>
<% end %>
