<h1>ユーザー詳細ページ</h1>
<% if @user %>
<%= @user.name   %>
<%= @user.mail_address %>
<% end %>
<% if @current_user && @current_user.id==params[:id].to_i%>
  <%= link_to("ユーザー情報編集","/user/update/#{@current_user.id}") %>
<% end %>
<p>イイネした投稿一覧</p>
<% @likes =Like.where(user_id: params[:id]) %>
<% @likes.each do |like| %>
<% @post= Post.find_by(id: like.post_id) %>
<%= @post.content %>
<% end %>
