<%= form_tag("/update_user/#{params[:id]}",{multipart:true}) do %>
<div class="form">
  <% if @user %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <p>ユーザー名</p>
  <input name="name" value="<%= @user.name %>">
  <p>画像</p>
  <input name="image" type="file">
  <p>メールアドレス</p>
  <input name="mail_address" value="<%= @user.mail_address %>">
  <input type="submit" value="保存">
</div>
<% end %>
